

<div class="container">
<div class="row mt-5">
  <div class="col-md-4 mb-3" *ngFor="let SpecislEvent of SpecislEvents">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">{{SpecislEvent.name}}</h5>
        <p class="card-text">{{SpecislEvent.description}}</p>
        <a href="#" class="btn btn-success">Buy Tickets</a>
      </div>
      <div class="card-footer text-muted">
        {{SpecislEvent.date | date:'shortDate'}}
      </div>
    </div>
  </div>
</div>
</div>